.site-layout-background.header-container {
  text-align: center;
  padding: 0;
}
.site-layout-background.header-container {
  background: #211953;
  font-size: 24px;
  color: white;
}
.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline,
.ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical,
.ant-layout-sider-children,
.ant-layout-sider-trigger {
  background: #211953;
}
.lay {
  min-height: 100vh;
}
.top {
  margin: 0 16px;
}
.space {
  margin: 16px 0;
}
div.site-layout-background.container {
  padding: 24px;
  min-height: 360px;
}
.ant-layout-footer {
  background: #211953;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 5%;
}
